<div id="payment" class="white-popup-block mfp-hide form-wrapper">
  <div id="form-js-hide">
    <div class="title">Choose payment method and write your email</div>
    <div class="form-content">
      <div class="method">
        <div class="method-item active">PayPal</div>
        <div class="method-item">Bank Card</div>
      </div>
      <form id="payment-js" class="payment-form">
        <input type="email" class="email" id="email" placeholder="Enter your email" required>
        <button type="submit" class="checkout">Proceed to checkout</button>
      </form>
    </div>
    <div class="loader-wrapper">
      <div class="loader"></div>
      <div class="loader-text text-center">Loading...</div>
    </div>
    <div class="line"></div>
    <div class="list-wrapper">
      <ul class="form-list">
        <li>Receive login details in 1 minute</li>
        <li>Online Customer Support 24x7</li>
      </ul>
      <ul class="form-list">
        <li>Safety and Secure transaction</li>
        <li>Long-term email support</li>
      </ul>
    </div>
    <div class="form-footer">
      <div class="form-name">Fernando Salo Ginger Cats in da Hastle</div>
      <div class="form-type">DVD, Electronics</div>
      <div class="form-price">$2750</div>
    </div>
  </div>
  <div class="form-success">
    <div class="title">
      Excellent!<br> Now check your email
    </div>
    <img src="./assets/images/mailbox-img.svg" alt="">
    <div class="back-btn text-center">Back to website</div>
  </div>
</div>